body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


header {
  background-color: #2980b9;
  color: white;
  padding: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1{
  margin-bottom: 10px;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header ul li {
  margin-right: 20px;
}


header ul li:last-child {
  margin-right: 0;
}

header ul li p {
  color: white;
  text-decoration: none;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none
}

.apresentacao li{
  list-style-type: none
}

.habilidade{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.contato{
  display: flex;
  flex-direction: column;
}

.contato form{
  display: flex;
  flex-direction: column;
}


#info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.mainInfo{
  min-height: calc(100vh - 200px);
  padding: 20px;
}


.personal-info, .skills {
  flex: 1;
}

.skill-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
#contact{
  text-align: center;
}
#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact form input,
#contact form textarea{
  margin: 10px 100px;
  width: 50%;
  padding: 10px;
}
#contact form button {
  width: 10%;
  border-radius: 30px;
  border: none;
  background-color:#2980b9 ;
  color: white;
  padding: 10px;
  cursor: pointer;
}

footer {
  background-color: #2980b9;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 50px;
}